.home-error-login{
     margin-top: 20px;
     text-align: center;
}

.home-card {
    width: 480px;
    height: 573px;
}

.home-login-text {
    padding-top: 74px;
    padding-bottom: 5px;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
}

.margin {
    margin-top: 74px;
}