.genre-select-container {
    background-color: #6c6c6c !important;
    color: #fff !important;
 
    border: 1px solid #e1e1e1;
    
}

.genre-select__indicator-separator{
    display: none;
}
.genre-select__control {
    background-color: #6c6c6c !important;
    color: #fff !important;
    width: 260px;
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
    border: 1px solid #e1e1e1;
}

.genre-select__menu {
    background-color: #6c6c6c !important;
    color: #fff !important;
}

.genre-select__menu-list {
  
 
}

.genre-select__option {
  
}
.genre-select__value-container {
}

.genre-select__indicators {
 
}

.genre-select__value-container{
 
} 

.genre-select__value-container--has-value{
}
