@media (max-width: 796px){
    .movie-filter {
        width: 260px !important;
    }    
}


.movie-filter {
    width: 1220px;
    height: 80px;
}
 

.genre-select__indicator-separator{
    display: none;
}

.genre-select__dropdown-indicator{
    color: #fff !important;
}

.genre-select__option{
    color: #fff !important;
    background: #6c6c6c !important;;
}

.genre-select__option--is-focused{
    background: #525252 !important;
} 

.genre-select__control {
    background-color: #6c6c6c !important;
    color: #fff !important;
    width: 240px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    border: 1px solid #e1e1e1 !important;
    box-shadow: 0 0 0 1px #fff !important ;
}

.genre-select__single-value {
    color:#fff !important;
}

.genre-select__menu {
    background-color: #6c6c6c !important;
}

.genre-select__placeholder{
    color:#fff !important;
}

.genre-select__clear-indicator{
    color:#fff !important;
}