.category-select-container {
    //background-color: #6c6c6c !important;
    //color: #fff !important;
    //border: solid 1px #fff
}


.category-select__control {
    //background-color: #6c6c6c !important;
    //color: #fff !important;
    width: 260px;
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
}

.category-select__menu {
    //background-color: #6c6c6c !important;
    //color: #fff !important;
}

.category-select__menu-list {
  
 
}

.category-select__option {
  
}
.category-select__value-container {
}

.category-select__indicators {
 
}

.category-select__value-container{
 
} 

.category-select__value-container--has-value{
}
