@media (max-width: 796px){
    .movie-catalog{
        justify-content:center;
     
    }
    .movie-container{
        width: 258px !important;
        margin: auto !important;
    }  
}


.movie-container{
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
}

.movie-filter-container{
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
}

.movie-catalog{
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 258px);
    justify-content: space-between;
}


