.movie-container{
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
}

.movie-catalog-between {
    justify-content: space-between;
    display: flex;
    width: 1220px;
}

.movie-catalog-evenly {
    justify-content: space-evenly;
    display: flex;
    width: 1220px;
}


.movie-filter {
    width: 1220px;
    height: 80px
}