.header-main {
    background-color: #FFC700;
    height: 68px;
    padding-left: 49px;
    padding-right: 142px;
    align-items: center;
    display: flex;
}

.header-title {
    font-size: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}

